.pick-theme-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-low);
}

.pick-theme-container-title {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  letter-spacing: var(--title-letter-spacing);
}

.all-themes-buttons {
  display: flex;
  gap: var(--gap-low);
  flex-wrap: wrap;
}
