html {
  display: flex;
  min-height: 100%;
}

body {
  display: flex;
  flex-grow: 1;
}

#root {
  display: flex;
  flex-grow: 1;
}

.app-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: var(--padding-low);
}

.container-centered {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: space-between;
  gap: var(--gap-mid);
}

* {
  text-transform: lowercase;
}
