.pick-theme-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-low);
  font-size: var(--font-size-button);
  font-weight: 600;
  letter-spacing: var(--letter-spacing-low);
  text-align: center;
}

.pick-theme-container > * {
  flex: 1;
  padding: var(--padding-button);
  cursor: pointer;
}

.app-container-light {
  color: var(--black-light);
  background-color: var(--white-light);
}

.container-light > * {
  border: var(--border-size-button) solid var(--black-light);
}

.container-light > *:hover {
  background-color: var(--white-hover-light);
}

.container-light > *:active {
  background-color: var(--white-active-light);
}

.button-active-light {
  background-color: var(--white-active-light);
}

.app-container-dark {
  color: var(--white-dark);
  background-color: var(--black-dark);
}

.container-dark > * {
  border: var(--border-size-button) solid var(--white-dark);
}

.container-dark > *:hover {
  background-color: var(--white-hover-dark);
}

.container-dark > *:active {
  background-color: var(--white-active-dark);
}

.button-active-dark {
  background-color: var(--white-active-dark);
}
